@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap");

// General

:root {
    --primary-color: #f1eede;
    --secondary-color: #008e84;
}

body {
    background: #ede4b5;
    margin: 0;
    font-family: "DM Serif Text";
    letter-spacing: 1px;
}
  
.container {
    width: 1080px;
    margin: 0 auto;
}

section {
    padding: 5em 4em;
}

// Seccion Carrito/confirmado de pedido

.carrito-section {
    color: white;
  
    .container {
      display: flex;
  
      .left-col {
        width: 70%;
  
        .btn-volver, .btn-confirmar {
          background: var(--secondary-color);
          color: var(--primary-color);
          text-decoration: none;
          padding: 0.6em 1.3em;
          font-size: 1.4em;
          border-radius: 5em;
          font-weight: bold;
          display: inline-block;
        }
  
        p {
          color: var(--secondary-color);
          text-align: justify;
          font-size: 1.5em;
          margin-top: 0;
        }
      
        .resumen-pedido {
          display: flex;
          
          ul {
              list-style-type: none;
          }
        }
      }
  
      .img-container {
        width: 30%;
  
        .preparando-img {
          width: 100%;
          border-radius: 10px;
        }
      }
    }
  }
    
    