@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap");

// General

html {
  scroll-behavior: smooth;
}

:root {
  --primary-color: #f1eede;
  --secondary-color: #008e84;
}

body {
  background: #f2f2f2;
  margin: 0;
  font-family: "DM Serif Text";
  letter-spacing: 1px;
}

.container {
  width: 1080px;
  margin: 0 auto;
}

//Login section

.login-btn {
  margin-top: 1em;
  background: var(--secondary-color);
  color: var(--primary-color);
  text-decoration: none;
  padding: 0.6em 1.3em;
  font-size: 1.4em;
  border-radius: 5em;
  font-weight: bold;
  display: inline-block;
  transition: all .5s ease-in-out;
  border: 1px solid var(--primary-color);
}

#form-login {
  label, input {
    display: block;
  }

  input {
    border-style: none;
  }
}

//Navbar Section

.navbar {
  background: var(--secondary-color);
  padding: 1em;

  .logo {
    text-decoration: none;
    font-weight: bold;
    color: black;
    font-size: 1.2em;

    span {
      color: var(--primary-color);
    }
  }

  nav {
    display: flex;
    justify-content: space-between;
    background: none;
    position: unset;
    height: auto;
    width: 100%;
    padding: 0;
  
    ul {
      display: flex;
    }
  
    a {
      color: black;
      font-size: 1em;
      padding: 0.1em 1em;
    }

    p {
      margin: 0em 1em 0em 0em;
    }
  
    ul.primary-nav {
      margin: 0;
    }
    
    li {
      a {
        text-decoration: none;
        &:hover {
          font-weight: bold;
        }
      }
    }
  
    li.current a {
      font-weight: bold;
    }

    #carrito-link-btn {
      cursor: pointer;
      color: var(--primary-color);
      border: 2px solid var(--primary-color);
      font-weight: bold;
      border-radius: 5em;
      margin-top: -0.2em;
  
      &:hover {
        background: var(--primary-color);
        color: var(--secondary-color);
      }
    }
  }

  .container {
    display: grid;
    grid-template-columns: 180px auto;
    justify-content: unset;
  }
}

// Landing Section

a {
  color: #444444;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0px 0px 20px 0px;
}

section {
  padding: 5em 4em;
}

.landing {
  text-align: center;
  background-color: var(--primary-color);
  padding: 10em 4em;

  .container {
    display: flex;
    justify-content: space-between;
    text-align: left;
  
    .left-col {
      margin: 3em 3em 0 5em;
      h1 {
        font-size: 3em;
        width: 90%;
      }
    }
  }
}

.left-col {
  .subhead {
    text-transform: uppercase;
    font-weight: bold;
    color: gray;
    letter-spacing: 0.3em;
  }

  h1 {
    font-size: 2.5em;
    line-height: 1.3em;
    margin-top: 0.2em;
  }

  .ver-productos-btn {
    background: var(--secondary-color);
    color: var(--primary-color);
    text-decoration: none;
    padding: 0.6em 1.3em;
    font-size: 1.4em;
    border-radius: 5em;
    font-weight: bold;
    display: inline-block;
    transition: all .5s ease-in-out;
    border: 1px solid var(--primary-color);

    &:hover {
      background: var(--primary-color);
      color: var(--secondary-color);
      border: 1px solid var(--secondary-color);
      transform: scale(1.1);
    }
  }
}

.landing-img {
  width: 30%;
  margin-right: 8em;
  margin-top: 3em;
  border-radius: 10px;
  box-shadow: 2px 11px 15px 6px #888888;
}

// About Section

section.about-section {
  background: #ede4b5;

  .container {
    display: flex;
  
    p {
      color: var(--secondary-color);
      text-align: justify;
      font-size: 1.5em;
      margin-top: 0;
      width: 80%;
    }
    .campo-img {
      display: block;
      right: 0;
      width: 350px;
      bottom: -2em;
      border-radius: 10px;
      box-shadow: 2px 11px 15px 6px #8a781a82;
    }
  }
}

// Productos Section

.productos-section {
  background: var(--primary-color);
  color: white;

  ul {
    display:grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(min(100rem,20rem), 1fr));

    li {
      background: var(--secondary-color);
      text-align: center;
      padding: 2em 1em;
      width: 80%;
      margin: 0 auto 5em auto;
      border-radius: 1em;
      margin: 0 1em;
  
      img {
        width: 15em;
        height: 15em;
      }
    }
  }
}

.agregar-btn {
  background: var(--primary-color);
  color: var(--secondary-color);
  text-decoration: none;
  padding: 0.6em 1.3em;
  font-size: 1em;
  border-radius: 5em;
  font-weight: bold;
  display: inline-block;
  cursor: pointer;
  transition: all .2s ease-in-out;
  
  &:hover {
    transform: scale(1.1);
  }
}

.agregar-item {
  display: none;
  justify-content: space-evenly;
  margin-top: 10px;
  align-items: center;

  div {
    background: var(--primary-color);
    width: 2em;
    border-radius: 4px;                     
    cursor: pointer;

    i {
      color: var(--secondary-color)
    }
  }

  p {
    margin: 0;
    font-size: 1.5em;
  }
}

.carrito-btn-container {
  text-align: center;
  #carrito-btn {
    cursor: pointer;
    background: var(--secondary-color);
    color: var(--primary-color);
    text-decoration: none;
    padding: 0.6em 1.3em;
    font-size: 1.4em;
    border-radius: 5em;
    font-weight: bold;
    display: inline-block;
    border: 1px solid var(--primary-color);
    transition: all .5s ease-in-out;

    &:hover {
      background: var(--primary-color);
      color: var(--secondary-color);
      border: 1px solid var(--secondary-color);
      transform: scale(1.1);
    }
  }
}

// Contacto Section

.contacto-section {
  position: relative;

  .container {
    display: flex;
    
    h2 {
      font-size: 2em;
    }

    label {
      display: block;
      font-size: 1.2em;
      margin-bottom: 0.5em;
    }
    
    input,
    textarea {
      width: 100%;
      padding: 0.8em;
      margin-bottom: 1em;
      border-radius: 0.3em;
      border: 1px solid gray;
      box-sizing: border-box;
    }
    
    input[type="submit"] {
      background-color: var(--secondary-color);
      color: white;
      font-weight: bold;
      font-size: 1.3em;
      border: none;
      margin-bottom: 1em;
      border-radius: 5em;
      display: inline-block;
      padding: 0.8em 2em;
      width: unset;
      cursor: pointer;
    }

    .contact-right {
      position: absolute;
      right: 0;
      top: 0;
      width: 45%;
      height: 100%;
    
      iframe {
        width: 100%;
        height: 100%;
      }
    }
  }
}

// Seccion Carrito/confirmado de pedido

.carrito-section {
  display: none;
  color: white;

  .container {
    display: flex;

    .left-col {
      width: 70%;

      #btn-volver {
        background: var(--secondary-color);
        color: var(--primary-color);
        text-decoration: none;
        padding: 0.6em 1.3em;
        font-size: 1.4em;
        border-radius: 5em;
        font-weight: bold;
        display: inline-block;
        cursor: pointer;
      }

      #btn-confirmar {
        background: var(--secondary-color);
        color: var(--primary-color);
        text-decoration: none;
        padding: 0.6em 1.3em;
        font-size: 1.4em;
        border-radius: 5em;
        font-weight: bold;
        display: none;
        cursor: pointer;
        transition: all .5s ease-in-out;
        border: 1px solid var(--primary-color);
        
        &:hover {
          background: var(--primary-color);
          color: var(--secondary-color);
          border: 1px solid var(--secondary-color);
          transform: scale(1.1);
        }
      }

      p {
        color: var(--secondary-color);
        text-align: justify;
        font-size: 1.5em;
        margin-top: 0;
      }
    
      #resumen-pedido {
        
        ul {
            list-style-type: none;
            width: 100%;

            li {
              display: grid;
              grid-template-columns: 60% 40%;
            }
        }
      }
    }

    .img-container {
      width: 30%;

      .preparando-img {
        width: 100%;
        border-radius: 10px;
      }
    }
  }
}