@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap");
html {
  scroll-behavior: smooth;
}

:root {
  --primary-color: #f1eede;
  --secondary-color: #008e84;
}

body {
  background: #f2f2f2;
  margin: 0;
  font-family: "DM Serif Text";
  letter-spacing: 1px;
}

.container {
  width: 1080px;
  margin: 0 auto;
}

.login-btn {
  margin-top: 1em;
  background: var(--secondary-color);
  color: var(--primary-color);
  text-decoration: none;
  padding: 0.6em 1.3em;
  font-size: 1.4em;
  border-radius: 5em;
  font-weight: bold;
  display: inline-block;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  border: 1px solid var(--primary-color);
}

#form-login label, #form-login input {
  display: block;
}

#form-login input {
  border-style: none;
}

.navbar {
  background: var(--secondary-color);
  padding: 1em;
}

.navbar .logo {
  text-decoration: none;
  font-weight: bold;
  color: black;
  font-size: 1.2em;
}

.navbar .logo span {
  color: var(--primary-color);
}

.navbar nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: none;
  position: unset;
  height: auto;
  width: 100%;
  padding: 0;
}

.navbar nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar nav a {
  color: black;
  font-size: 1em;
  padding: 0.1em 1em;
}

.navbar nav p {
  margin: 0em 1em 0em 0em;
}

.navbar nav ul.primary-nav {
  margin: 0;
}

.navbar nav li a {
  text-decoration: none;
}

.navbar nav li a:hover {
  font-weight: bold;
}

.navbar nav li.current a {
  font-weight: bold;
}

.navbar nav #carrito-link-btn {
  cursor: pointer;
  color: var(--primary-color);
  border: 2px solid var(--primary-color);
  font-weight: bold;
  border-radius: 5em;
  margin-top: -0.2em;
}

.navbar nav #carrito-link-btn:hover {
  background: var(--primary-color);
  color: var(--secondary-color);
}

.navbar .container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 180px auto;
      grid-template-columns: 180px auto;
  -webkit-box-pack: unset;
      -ms-flex-pack: unset;
          justify-content: unset;
}

a {
  color: #444444;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0px 0px 20px 0px;
}

section {
  padding: 5em 4em;
}

.landing {
  text-align: center;
  background-color: var(--primary-color);
  padding: 10em 4em;
}

.landing .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: left;
}

.landing .container .left-col {
  margin: 3em 3em 0 5em;
}

.landing .container .left-col h1 {
  font-size: 3em;
  width: 90%;
}

.left-col .subhead {
  text-transform: uppercase;
  font-weight: bold;
  color: gray;
  letter-spacing: 0.3em;
}

.left-col h1 {
  font-size: 2.5em;
  line-height: 1.3em;
  margin-top: 0.2em;
}

.left-col .ver-productos-btn {
  background: var(--secondary-color);
  color: var(--primary-color);
  text-decoration: none;
  padding: 0.6em 1.3em;
  font-size: 1.4em;
  border-radius: 5em;
  font-weight: bold;
  display: inline-block;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  border: 1px solid var(--primary-color);
}

.left-col .ver-productos-btn:hover {
  background: var(--primary-color);
  color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.landing-img {
  width: 30%;
  margin-right: 8em;
  margin-top: 3em;
  border-radius: 10px;
  -webkit-box-shadow: 2px 11px 15px 6px #888888;
          box-shadow: 2px 11px 15px 6px #888888;
}

section.about-section {
  background: #ede4b5;
}

section.about-section .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

section.about-section .container p {
  color: var(--secondary-color);
  text-align: justify;
  font-size: 1.5em;
  margin-top: 0;
  width: 80%;
}

section.about-section .container .campo-img {
  display: block;
  right: 0;
  width: 350px;
  bottom: -2em;
  border-radius: 10px;
  -webkit-box-shadow: 2px 11px 15px 6px #8a781a82;
          box-shadow: 2px 11px 15px 6px #8a781a82;
}

.productos-section {
  background: var(--primary-color);
  color: white;
}

.productos-section ul {
  display: -ms-grid;
  display: grid;
  gap: 1rem;
  -ms-grid-columns: (minmax(20rem, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
}

.productos-section ul li {
  background: var(--secondary-color);
  text-align: center;
  padding: 2em 1em;
  width: 80%;
  margin: 0 auto 5em auto;
  border-radius: 1em;
  margin: 0 1em;
}

.productos-section ul li img {
  width: 15em;
  height: 15em;
}

.agregar-btn {
  background: var(--primary-color);
  color: var(--secondary-color);
  text-decoration: none;
  padding: 0.6em 1.3em;
  font-size: 1em;
  border-radius: 5em;
  font-weight: bold;
  display: inline-block;
  cursor: pointer;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.agregar-btn:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.agregar-item {
  display: none;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-top: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.agregar-item div {
  background: var(--primary-color);
  width: 2em;
  border-radius: 4px;
  cursor: pointer;
}

.agregar-item div i {
  color: var(--secondary-color);
}

.agregar-item p {
  margin: 0;
  font-size: 1.5em;
}

.carrito-btn-container {
  text-align: center;
}

.carrito-btn-container #carrito-btn {
  cursor: pointer;
  background: var(--secondary-color);
  color: var(--primary-color);
  text-decoration: none;
  padding: 0.6em 1.3em;
  font-size: 1.4em;
  border-radius: 5em;
  font-weight: bold;
  display: inline-block;
  border: 1px solid var(--primary-color);
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.carrito-btn-container #carrito-btn:hover {
  background: var(--primary-color);
  color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.contacto-section {
  position: relative;
}

.contacto-section .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contacto-section .container h2 {
  font-size: 2em;
}

.contacto-section .container label {
  display: block;
  font-size: 1.2em;
  margin-bottom: 0.5em;
}

.contacto-section .container input,
.contacto-section .container textarea {
  width: 100%;
  padding: 0.8em;
  margin-bottom: 1em;
  border-radius: 0.3em;
  border: 1px solid gray;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.contacto-section .container input[type="submit"] {
  background-color: var(--secondary-color);
  color: white;
  font-weight: bold;
  font-size: 1.3em;
  border: none;
  margin-bottom: 1em;
  border-radius: 5em;
  display: inline-block;
  padding: 0.8em 2em;
  width: unset;
  cursor: pointer;
}

.contacto-section .container .contact-right {
  position: absolute;
  right: 0;
  top: 0;
  width: 45%;
  height: 100%;
}

.contacto-section .container .contact-right iframe {
  width: 100%;
  height: 100%;
}

.carrito-section {
  display: none;
  color: white;
}

.carrito-section .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.carrito-section .container .left-col {
  width: 70%;
}

.carrito-section .container .left-col #btn-volver {
  background: var(--secondary-color);
  color: var(--primary-color);
  text-decoration: none;
  padding: 0.6em 1.3em;
  font-size: 1.4em;
  border-radius: 5em;
  font-weight: bold;
  display: inline-block;
  cursor: pointer;
}

.carrito-section .container .left-col #btn-confirmar {
  background: var(--secondary-color);
  color: var(--primary-color);
  text-decoration: none;
  padding: 0.6em 1.3em;
  font-size: 1.4em;
  border-radius: 5em;
  font-weight: bold;
  display: none;
  cursor: pointer;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  border: 1px solid var(--primary-color);
}

.carrito-section .container .left-col #btn-confirmar:hover {
  background: var(--primary-color);
  color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.carrito-section .container .left-col p {
  color: var(--secondary-color);
  text-align: justify;
  font-size: 1.5em;
  margin-top: 0;
}

.carrito-section .container .left-col #resumen-pedido ul {
  list-style-type: none;
  width: 100%;
}

.carrito-section .container .left-col #resumen-pedido ul li {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 60% 40%;
      grid-template-columns: 60% 40%;
}

.carrito-section .container .img-container {
  width: 30%;
}

.carrito-section .container .img-container .preparando-img {
  width: 100%;
  border-radius: 10px;
}
/*# sourceMappingURL=main.css.map */